/***
Reset and overrides  
***/
@-webkit-viewport { 
  width: device-width; 
}

@-moz-viewport { 
  width: device-width; 
}

@-ms-viewport { 
  width: device-width; 
}

@-o-viewport { 
  width: device-width; 
}

@viewport { 
  width: device-width; 
}
@-ms-viewport { 
  width: auto !important; 
}
body {
  color: #282828;
  background-color: #F8F8F8 !important;
  font-family: "Helvetica Neue", Helvetica, Verdana,"Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  font-size:13px; 
  direction: ltr;
}

h1,
h2,
h3 {
  margin-top: 10px;
}
h1 small,
h2 small,
h3 small, 
h4 small, 
h5 small,
h6 small {
  color: #444;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: "Helvetica Neue", Helvetica, Verdana,"Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-weight: 300 !important;
}


h1.block, 
h2.block, 
h3.block, 
h4.block, 
h5.block, 
h6.block {
  padding-top: 10px;
  padding-bottom: 10px;
}
a {
  text-shadow: none !important;
  color: #b24317;
}
.progress{
  margin-bottom: 0px;
  background: #666;
}
/***
Fix link outlines after click
***/
a,a:focus, a:hover, a:active {
  outline: 0;
  cursor: pointer;
}
.close {
  display: inline-block;
  margin-top: 0px;
  margin-right: 0px;
  width: 9px;
  height: 9px;
  text-indent: -10000px;
  background-repeat: no-repeat !important;
  background-image: url("../images/remove-icon-small.png") !important;
}


/***
General HR
***/

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #E0DFDF;
  border-bottom: 1px solid #FEFEFE;
}
/***
Tools
***/
.display-none,
.display-hide {
  display: none;
}

.no-space {
  margin: 0px !important;
  padding: 0px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-bottom-25 {
  margin-bottom: 25px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.margin-right-20 {
  margin-right: 20px !important;
}

.bold {
  font-weight:600 !important;
}

.fix-margin {
  margin-left: 0px !important
}

.border {
  border: 1px solid red;
}

.inline {
  display: inline;
}

.text-left{
  text-align: left;
}
.btn-primary {
  background-color: #e25822;
  border-color: #b24317;
}

.lightbox_l > .modal-dialog {
    width:960px;
}
.lightbox_m > .modal-dialog {
    width:720px;
}
.lightbox_s > .modal-dialog {
    width:600px;
}

/***
Header and header elements.
***/
.header .navbar-nav {
  height: 45px;
  margin-right: 20px;
  display: block; 
}

.header .navbar-nav > li {
  margin: 0px !important;
  padding: 0px !important;
}

.header .navbar-nav > li.devider {
  margin-left: 10px !important;
  margin-right: 5px !important;
  height: 45px;
  width: 1px !important;
}

.header .navbar-nav > li.dropdown, 
.header .navbar-nav > li.dropdown > a {
  padding-left: 4px; 
  padding-right: 4px;
}

.header .navbar-nav > li.dropdown > a:last-child {
  padding-right: 0;
}

.header .navbar-nav > li.dropdown:last-child {
   padding-right: 2px;
}

.header .navbar-nav > li.dropdown .dropdown-toggle {
  padding: 14px 7px 11px 5px;
}

.header .navbar-nav > li.dropdown .dropdown-toggle > i {
  font-size: 18px;
}

.header .navbar-nav > li.dropdown .dropdown-menu > li > a > i {
  font-size: 14px;
}

.header .navbar-nav > li.dropdown.user .dropdown-toggle {
  margin: 0 !important;
  padding: 8px 4px 8px 9px;
}

.header .navbar-nav > li.dropdown.user .dropdown-toggle:hover {
  text-decoration: none;
}

.header .navbar-nav li.dropdown.user .dropdown-toggle i {
  display: inline-block;
  margin-top: 5px;
  margin: 0;
  font-size: 16px;
}

.header .navbar-nav > li.dropdown.user .dropdown-menu i {
  display: inline-block;
}

.header .navbar-nav li.dropdown.user img {
  border-radius: 50%;
}

.header .navbar-nav > li.dropdown .dropdown-toggle .badge {
  border-radius: 2px !important;
  padding: 1px 4px;
  height: 15px;
  margin-top: -6px;
  margin-left: -3px;
}
.header .nav .open > a,
.header .nav .open > a:hover,
.header .nav .open > a:focus {
  background-color: #555;
}
.header .navbar-nav .dropdown-menu {
    color: #333;
}
.header .navbar-nav .dropdown-toggle:hover,
.header .navbar-nav .dropdown.open .dropdown-toggle {
  background-color: #414247 !important;
}
.header .navbar-nav li.dropdown .dropdown-toggle i {
  color: #999ba2 !important;
}
.header .navbar-nav > li.devider {
  border-left: 1px solid #484a4f !important;
}

.header-sub > li >a {
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
  padding-top:10px;
}

.header-sub > li.active {
  background: #FAFAFA;
}
.header-sub > li.active >a {
  color: #282828;
}
.header-sub > li:hover,.header-sub > a:hover {
  background: #b24317;
}
div.header {
  width: 100%;
  min-width: 1200px;
  height: 55px;
  padding: 0 20px 0 20px;
  margin: 0;
  padding: 0px; 
  box-shadow: none;
  filter: none;
  background-image: none;
  background-color: #282828;
  border-bottom: 5px solid #b24317;
}

.nav-tabs, .nav-pills {
margin-bottom: 10px;
}

.header .navbar-brand {
  display: inline-block;
  color: #e77245;
}

.header .navbar-brand img {
  margin-left: 20px;
}

.header a{
  color: #F9F9F9;
}
.nav-main{
  background: #e25822;
  border-bottom: 1px solid #b24317;
  height: 45px;
}

.nav.sub-nav > li >a {
  padding:5px 5px 5px 35px;
  color: #F8F8F8;
}
.nav.sub-nav > li.active {
  background: #b24317;
  color: #FFFFFF;
}
.nav.sub-nav > li >a {
  padding:5px 5px 5px 35px;
}

.nav > li > a:hover, .nav > li > a:focus{
  background: #b24317;
  color: #F0F0F0;
}

.navbar-info {
  background-color: #b24317;
  border-color: #742607;
}

.navbar-info .navbar-text {
  color: #999999;
}

.navbar-info .navbar-nav > li > a {
  color: #EEE;
}
.navbar-info.navbar{
    min-height: 40px;
    margin-bottom: 10px;
}
.navbar-info .navbar-nav > li > a:hover,
.navbar-info .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-info .navbar-nav > li > a {
padding-top: 10px;
padding-bottom: 10px;
}
.navbar-info .navbar-nav > .active > a,
.navbar-info .navbar-nav > .active > a:hover,
.navbar-info .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #e25822;
}

.navbar-info .navbar-nav > .disabled > a,
.navbar-info .navbar-nav > .disabled > a:hover,
.navbar-info .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}


.navbar-info .navbar-nav > .open > a,
.navbar-info .navbar-nav > .open > a:hover,
.navbar-info .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #080808;
}

/***
Page container
***/
.page-container {
  margin: 0px;
  padding: 0px;
  position: relative;
}

.page-container:before,
.page-container:after {
  display: table;
  content: " ";
}

.page-container:after {
  clear: both;
}

.page-content .page-breadcrumb.breadcrumb {
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  box-shadow: none;
  padding-right: 30px;
  padding-left: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
  border:0px !important;  
  border-top: 1px solid #e6e6e6 !important;
  border-bottom: 1px solid #e6e6e6 !important;  
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
          box-shadow: none !important;
  background-color: #EFEFEF;
  margin-left: -20px;
  margin-right: -20px;
}
/***
Page content
***/

.page-content { 
    margin-top: 0px;
    min-height: 760px; 
    padding: 10px 20px 20px 20px;
    width:1200px;
    border-left: 155px solid #e25822;
    float: left;
}
.page-content .page-breadcrumb.breadcrumb > li > a, 
.page-content .page-breadcrumb.breadcrumb > li > i, 
.page-content .page-breadcrumb.breadcrumb > li > span {
  font-size: 14px;
  text-shadow:none;
}

.page-content .page-breadcrumb.breadcrumb > li > i {
  color: #666;
} 

.page-content .page-breadcrumb.breadcrumb > li+li:before {
  display: none;
}

.footer {
  display: block;
  width: 100%;
  padding: 10px 20px 5px 20px; 
  font-size: 12px;
  background: #333;
  min-height: 50px;
}

.footer:after,
.footer:before {
  content: "";
  display: table;
  line-height: 0;
}

.footer:after {
  clear: both;
}

.footer .footer-inner {
  float: left;
  display: inline-block;
}

.footer .footer-tools {
  float: right;
  display: inline-block;
}

.footer .footer-tools .go-top { 
  display: block;
  text-decoration: none;
  cursor: pointer;
  margin-top: -4px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  padding: 2px 6px 0px 6px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.footer .footer-tools .go-top i {
  font-size: 22px;
  margin-bottom: 5px; 
}

/***
Icon stuff
***/
i.icon, a.icon {
  color: #999;
  margin-right: 5px;
  font-weight: normal;
  font-size: 13px;
}

i.icon-black {
  color: #000 !important;
}

a.icon:hover {
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity: .4;
  filter:alpha(opacity=40);
}

a.icon.huge i{
  font-size: 16px !important;
}

i.big {
  font-size: 20px;
}

i.warning {
  color: #d12610;
}

i.critical {
  color: #37b7f3;
}

i.normal {
  color: #52e136;
}

.panel-data {
  border-color: #dddddd;
}

.panel.panel-data {
    background:#Fafafa;
}

.panel-data > .panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #dddddd;
}

.panel-data > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #dddddd;
}

.panel-data > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #dddddd;
}


/***
Page sidebar
***/
.page-sidebar {
  background: #e25822;
  float: left;
  width: 155px;
  padding-left: 10px;
    position: relative;
    margin-right: -100%;
}

.page-sidebar.navbar-collapse {
    max-height: none !important;
}

/***
Page content
***/
.page-content-wrapper {
    float: left;
    width: 100%;
}


/***
Footer
***/
.footer {
    clear: left;
}

/***
Sidebar Menu
***/

.page-sidebar-menu .search-form {
    display: none;
}

.page-sidebar.navbar-collapse {
    max-height: none !important;
}

.page-sidebar .nav-pills > li.active > a,
.page-sidebar .nav-pills > li.active > a:hover,
.page-sidebar .nav-pills > li.active > a:focus {
  color: #222;
  font-weight: bold;
  background-color: #FAFAFA;
  border-radius: 0px;
  border-right: 5px;
}

.page-sidebar .nav-pills > li > a {
  color: #F8F8F8;
  font-weight: normal;
  background-color: #e25822;
  border-bottom: 1px solid #b24317;
}

.page-sidebar .nav-stacked > li + li {
  margin-top: 0px;
  margin-left: 0;
}

/***
Footer 
***/
.footer .footer-inner {
  color: #FFF;
  background: #333;
}
.footer .footer-tools .go-top:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

/*lightbox*/

/*lightbox*/
.modal-body{
  height: 400px;
  overflow-x:hidden;
  overflow-y:auto;
}
.page-boxed {
    background-color: #35363a !important;
  }
  .page-boxed .page-container {
    background-color: #35363a;
    border-left: 1px solid #4d4f55;
    border-bottom: 1px solid #4d4f55;
  }

/*--------------page components-----------*/
.before-login{
  background: #444 url(../images/bg.png);

  height: 100%;
  overflow: hidden;
}
.loginBox {
  width: 420px;
  height: 230px;
  padding: 0 20px;
  border: 1px solid #fff;
  color: #000;
  margin-top: 40px;
  border-radius: 8px;
  background: white;
  box-shadow: 0 0 15px #222;
  background: -moz-linear-gradient(top, #fff, #efefef 8%);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#f4f4f4));
  font: 11px/1.5em 'Microsoft YaHei';
}
.logo{
  background:  url(../images/logo.png) no-repeat top left 10px;
  padding-left: 150px;

}
.logo-small{
  line-height: 35px;
  background:  url(../images/logo_small.png) no-repeat top left;
  padding-left: 70px;
}
.org-name{

  color: #FFF;
  line-height: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
}

/***
Notes
***/

/* Common styles for all types */
.note {
  margin: 0 0 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
  border-radius: 0px 4px 4px 0;
}

.note h1,
.note h2,
.note h3,
.note h4,
.note h5 {
  margin-top: 0;
}

.note p:last-child {
  margin-bottom: 0;
}
.note code,
.note .highlight {
  background-color: #fff;
}

/* Variations */
.note-danger {
  background-color: #FAEAE6;
  border-color: #ed4e2a;
}
.note-danger h4 {
  color: #9A290E;
}

.note-warning {
  background-color: #FCF3E1;
  border-color: #fcb322;
}
.note-warning h4 {
  color: #b24317;
}

.note-info {
  background-color: #E8F6FC;
  border-color: #57b5e3;
}

.note-success {
  background-color: #EBFCEE;
  border-color: #3cc051;
}
.note-success h4 {
  color: #147D26;
}


.editor_info dt,.editor_info dd {
  width:25%;float: left;
}

td.td_title {
  width:15%;
  font-weight: bold;
  
}
.table > tbody > tr > td.td_title {
  vertical-align:middle;
}
td.td_data {
  width:35%;
}

td.td_data_width {
  width:85%;
}


.progress.in_table{
  margin-bottom: 0px;
}

.field_name_must,.field_name {
  font-weight: bold;
  color: #444;
}
.field_name_must {
  color:#333;
}
.field_name_must em{font-weight: normal;color:red;}

table.tablesorter th {
  padding: 5px;
}

table.tablesorter .header {
  background: url(../images/dft.png) left center no-repeat;
  padding-left: 20px;
}
table.tablesorter .headerSortUp {
  background: url(../images/asc.png) left center no-repeat;
}
table.tablesorter .headerSortDown {
  background: url(../images/desc.png) left center no-repeat;
}

/* PowerTip Plugin */
#powerTip {
  cursor: default;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  color: #fff;
  display: none;
  padding: 10px;
  position: absolute;
  white-space: nowrap;
  z-index: 2147483647;
}
#powerTip:before {
  content: "";
  position: absolute;
}
#powerTip.n:before, #powerTip.s:before {
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  left: 50%;
  margin-left: -5px;
}
#powerTip.e:before, #powerTip.w:before {
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  margin-top: -5px;
  top: 50%;
}
#powerTip.n:before {
  border-top: 10px solid #333;
  border-top: 10px solid rgba(0, 0, 0, 0.8);
  bottom: -10px;
}
#powerTip.e:before {
  border-right: 10px solid #333;
  border-right: 10px solid rgba(0, 0, 0, 0.8);
  left: -10px;
}
#powerTip.s:before {
  border-bottom: 10px solid #333;
  border-bottom: 10px solid rgba(0, 0, 0, 0.8);
  top: -10px;
}
#powerTip.w:before {
  border-left: 10px solid #333;
  border-left: 10px solid rgba(0, 0, 0, 0.8);
  right: -10px;
}
#powerTip.ne:before, #powerTip.se:before {
  border-right: 10px solid transparent;
  border-left: 0;
  left: 10px;
}
#powerTip.nw:before, #powerTip.sw:before {
  border-left: 10px solid transparent;
  border-right: 0;
  right: 10px;
}
#powerTip.ne:before, #powerTip.nw:before {
  border-top: 10px solid #333;
  border-top: 10px solid rgba(0, 0, 0, 0.8);
  bottom: -10px;
}
#powerTip.se:before, #powerTip.sw:before {
  border-bottom: 10px solid #333;
  border-bottom: 10px solid rgba(0, 0, 0, 0.8);
  top: -10px;
}
#powerTip.nw-alt:before, #powerTip.ne-alt:before,
#powerTip.sw-alt:before, #powerTip.se-alt:before {
  border-top: 10px solid #333;
  border-top: 10px solid rgba(0, 0, 0, 0.8);
  bottom: -10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  left: 10px;
}
#powerTip.ne-alt:before {
  left: auto;
  right: 10px;
}
#powerTip.sw-alt:before, #powerTip.se-alt:before {
  border-top: none;
  border-bottom: 10px solid #333;
  border-bottom: 10px solid rgba(0, 0, 0, 0.8);
  bottom: auto;
  top: -10px;
}
#powerTip.se-alt:before {
  left: auto;
  right: 10px;
}

.has-error.help-block,
.has-error.control-label,
.has-error.radio,
.has-error.checkbox,
.has-error.radio-inline,
.has-error.checkbox-inline,
span.has-error {
  color: #a94442;
}

.has-error.form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error.form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.has-error.input-group-addon {
  color: #a94442;
  background-color: #f2dede;
  border-color: #a94442;
}

/*end of powerTip*/
.search-aera{
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1000;
}
.breadcrumb-with-search{
  position: relative;
}
.search-aera-inline{
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1000;
  width: 40%;
  height: 30px;
  text-align: right;
  font-size: 12px;
}
.breadcrumb > li.search-aera-inline:before {
  content: "";
  padding:0px;
}
.search-box{
  width:100%;
  padding-top: 10px;
}
.alert.editor-related-inputed{
  padding: 6px 12px;
  line-height: 20px;
  margin-bottom: 0px;
}
.list-title-op .panel-body{
  padding: 5px;
}
.list-title-op {
  position: relative;
  margin-bottom: 10px;
}
.holder-editor-related-id{
  position: relative;
}
#editor-related-id{
  outline: 0;
  position: absolute;
  top:50%;
  margin-top: -200px;
  left: 50%;
  margin-left: -325px;
  width: 650px;
  height: 400px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 3px 9px rgba(0,0,0,0.5);
  padding: 10px;
  font-size: 12px;
  z-index: 1200;
}
.list-search{
  padding: 0px;
}
#editor-related-id .list-search-item{
  padding: 5px;
  border-bottom: 1px solid #CCC;
  list-style: none;
  cursor: pointer;
}
#editor-related-id .list-search-item:hover{
  border: 1px solid #DDD;
  background: #E9E9E9;
  padding-left: 10px;

}
.editor-related-inputed{
  height: 34px;
}
#editor-related-id .list-search-item.selected{
  background: #E0E0E0;
}
#editor-related-id .pagination > li > a, .editor-related-id .pagination > li > span{
  padding: 1px 10px;
}
#editor-related-id .pagination{
  margin: 5px 0;
}

.select_contents{
  height: 290px;
  overflow-y:auto;
  overflow-x:hidden;
  padding: 5px;
}
.list_op{
  margin-right: 5px;
}
.data_chart_holder{
  height: 300px;
}
.data_pie_holder{
  height: 300px;
}
.pieLabel{
  font-weight: bold;
}
.dashboard-panel{
  height: 340px;
  overflow: auto;
}
.no-data-large{
  font-size: 64px;
  color: #DDD;
  text-align: center;
}
.search_tips{
  color: #666;
  margin-bottom: 10px;
  padding:5px 25px;
}
.search-table{
  background: #FFF;
  border: 1px solid #DDD;
}
.table.search-table td{
  vertical-align: middle;
}
.form-inline .mini_search_ele select.form-control{
  width:100%;
}
.mini_search_ele select {
  width:100%;
}
.mini_search_ele {
  text-align: center;
}



.panel.calendar .fc-button {
  -webkit-box-shadow: none ;
     -moz-box-shadow: none ;
          box-shadow: none ;
  -webkit-text-shadow: none ;
     -moz-text-shadow: none ;
          text-shadow: none ;
  border: 0 ;
  padding: 4px 8px 30px 8px ;
  margin-left:2px;  
  border-top-style: none;
  border-bottom-style: none;
  border-right-style: solid;
  border-left-style: solid;
  border-color: #ddd;
  background: transparent;
  color: #333;
  top: -44px;
}

.panel.calendar .fc-header {
  margin-bottom:-21px;
}

.panel.calendar .fc-button-prev {
  padding-right: 10px;
  padding-left: 8px;
}

.panel.calendar .fc-button-next {
  padding-right: 8px;
  padding-left: 10px;
}

.panel.calendar .fc-button.fc-state-active,
.panel.calendar .fc-button.fc-state-hover {
  color: #666 ;
  background-color: #fff;
}

@media (min-width: 400px) {  
  .panel.calendar .fc-button.fc-state-active,
  .panel.calendar .fc-button.fc-state-hover {
    border-radius: 4px 4px 0 0;
  }
}

.panel.calendar .fc-button.fc-state-disabled {
  color: #666 ;
}

.panel.calendar .fc-text-arrow {
  font-size: 22px;
  font-family: "Courier New", Courier, monospace;
  vertical-align: baseline; 
}

/* begin: event element */
.panel.calendar .fc-event {
  border: 0px;
  background-color: #69a4e0;
  color: #fff;
}

.panel.calendar .fc-event-inner {
  border: 0px;
}

.panel.calendar .fc-event-time {
  float: left;
  text-align: left;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
}

.panel.calendar .fc-event-title {
  text-align: left;
  float: left;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
}
/* end: event element */

.panel.calendar .fc-header-title h2 {
  font-size: 14px ;
  line-height: 20px;
  font-weight: 400;
  color: #111;
}

.panel.calendar .fc-widget-header {
  background-image: none ;
  filter:none ;
  background-color: #eee ;
  text-transform: uppercase;
  font-color:#000;
  font-weight: 300;
}
